{% extends "layout_logado.twig" %}
{% block title %} Cadastro Funcionário {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form class="form-horizontal" method="post" action="/home/funcionario/alteracao">
                <fieldset>
                    <legend>Cadastro de Funcionário</legend>
                    <div class="form-group">
                        <label for="masp" class="col-lg-2 control-label">MASP</label>
                        <div class="col-lg-10">
                            <input type="number" readonly value="{{ funcionarioAlt.masp }}" class="form-control" id="masp" name="masp"
                                   placeholder="MASP" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-lg-2 control-label">Nome Completo</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" value="{{ funcionarioAlt.nome }}" id="nome" name="nome"
                                   placeholder="Nome Completo" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-lg-2 control-label">E-mail</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" autocomplete="off" value="{{ funcionarioAlt.email }}" id="email" name="email"
                                   placeholder="E-mail" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="senha" class="col-lg-2 control-label">Senha</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" autocomplete="off" value="{{ funcionarioAlt.senha }}" id="senha" name="senha"
                                   placeholder="Senha" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Nível de Acesso</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="nivelDeAcesso" id="select">
                                <option {% if funcionarioAlt.nivelDeAcesso == 1 %} selected {% endif %} value="1">Administrador</option>
                                <option {% if funcionarioAlt.nivelDeAcesso == 0 %} selected {% endif %} value="0">Usuário Comum</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-danger">Cancelar</button>
                            <button type="submit" class="btn btn-success">Alterar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}